name: Check & deploy API documentation

on:
  workflow_dispatch:
    inputs:
      openapi-asset-upload-url:
        required: true
        type: string
  workflow_call:
    inputs:
      openapi-asset-upload-url:
        required: true
        type: string
  pull_request:
    branches:
      - master

jobs:
  produce-spec:
    name: Produce openapi.yaml
    if: ${{ github.event_name != 'pull_request' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '7.0.x'
      - name: Build solution
        run: dotnet build
      - name: Install Swashbuckle.AspNetCore.Cli
        run: |
          dotnet tool install Swashbuckle.AspNetCore.Cli --global
          echo "$DOTNET_ROOT/tools/swagger" >> $GITHUB_PATH
      - name: Generate OpenAPI specification
        run: swagger tofile --output openapi.yaml --yaml ./src/CrowdParlay.Social.Api/bin/Debug/net7.0/CrowdParlay.Social.Api.dll v1
      - name: Upload OpenAPI specification as release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ inputs.openapi-asset-upload-url }}
          asset_path: openapi.yaml
          asset_name: openapi.yaml
          asset_content_type: application/yaml
  update-docs:
    name: Update documentation
    needs: produce-spec
    uses: crowdparlay/foundation/.github/workflows/api-docs.yml@master
    secrets: inherit
  spec-diff:
    name: Check API diff on Bump.sh
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Comment pull request with API diff
        uses: bump-sh/github-action@v1
        with:
          doc: ${{ vars.BUMP_SH_DOCUMENTATION }}
          token: ${{ secrets.BUMP_SH_TOKEN }}
          file: openapi.yaml
          command: diff
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
